body {
	background-image: url('img/user.jpg');
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: none;
}
#headercontainer {
	width: 100%;
	height: 40px;
}
#keksas {
    width: 50%;
    margin: auto;
}
.vidus1 {
	width: 54%;
	height: 40px;
	margin: auto;
	float: left;
	
}
#laikrodis {
	margin-top: 4px;
	text-align: center;
	font-size: 15px;
	color: silver;
	font-family: 'Jura', sans-serif;
	
}
.vidus2 {
	width: 46%;
	height: 40px;
	margin: auto;
	float: right;
}
.ir {
	margin-top: 4px;
	margin-left: 3px;
	margin-right: 20px;
	float: right;
}
#bannercontainer {
	width: 100%;
}
.o {
	align: center;
	height: 200px;
	width: 100%;
	
}
.center {
	text-align: center;
}


.copyrightsmall {
	text-align: center;
}
h1 {
	font-size: 80px;
	color: white;
	font-family: 'Jura', sans-serif;
}
img {
	opacity: 0.5;
}

input[type=submit] {
    border: 0;
    width: 100px;
    height:20px;
    font-family: Tahoma;
    background-color: #061f25;
    margin-top: 4px;
    font-family: 'Jura', sans-serif;  
    font-size: 14px;
    color: silver;
}
input[type=text] {
    border: 1px solid black;
    margin-top: 3px;
	margin-left: 1px;
	font-family: 'Jura', sans-serif;
    box-sizing: border-box;
    border: none;
    background-color: #061f25;
    color: white;
    font-size: 15px;
}
input[type=password] {
    border: 1px solid black;
    margin-top: 3px;
	margin-left: 1px;
    box-sizing: border-box;
    border: none;
    background-color: #061f25;
    color: white;
    font-family: 'Jura', sans-serif;
    font-size: 15px;
}
p {
	color: white;
}
h2 {
	font-size: 40px;
	color: white;
	font-family: 'Jura', sans-serif;
}

