body {
	background-image: url('img/regfront.jpg');
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: none;
}
#headercontainer {
	width: 100%;
	height: 40px;
}
#keksas {
    width: 50%;
    margin: auto;
}
.vidus1 {
	width: 54%;
	height: 40px;
	margin: auto;
	float: left;
	
}
#laikrodis {
	margin-top: 3px;
	text-align: center;
	font-size: 15px;
	color: silver;
	font-family: 'Jura', sans-serif;
	
}
.vidus2 {
	width: 46%;
	height: 40px;
	margin: auto;
	float: right;
}
.ir {
	margin-top: 4px;
	margin-left: 3px;
	margin-right: 20px;
	float: right;
}
#bannercontainer {
	width: 100%;
}
.top {
	align: center;
	height: 100px;
	width: 100%;
}
.center {
	text-align: center;
	align: center;
	height: 400px;
	width: 100%;
}
.buttom {
	align: center;
	height: 50px;
	width: 100%;
}


.copyrightsmall {
	text-align: center;
}
h1 {
	font-size: 80px;
	color: white;
	font-family: 'Jura', sans-serif;
	text-align: center;
	margin-top: 150px;
}
img {
	opacity: 0.5;
}

#hm input[type=submit] {
    font-size: 35px;
    text-align: center;
    margin-top: 50px;
	margin-left:3px;
	font-family: 'Jura', sans-serif;  
    background: #061f25; 
    border: 1px solid #DDD; 
    border-radius: 40px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: white; 
    outline: none; 
    height:45px; 
    width: 400px;

}
#hm input[type=text] {
	font-size: 35px;
    text-align: center;
    margin-top: 20px;
	margin-left:3px;
	font-family: 'Jura', sans-serif;  
    background: white; 
    border: 1px solid #DDD; 
    border-radius: 40px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
    height:45px; 
    width: 400px;
    display: inline-block;
   
}
#hm input[type=password] {
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
	margin-left:3px;
	font-family: 'Jura', sans-serif;  
    background: white; 
    border: 1px solid #DDD; 
    border-radius: 40px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: #666; 
    outline: none; 
    height:45px; 
    width: 400px;
    display: inline-block; 
}
#opus input[type=submit] {
    border: 0;
    width: 100px;
    height:20px;
    font-family: Tahoma;
    background-color: #061f25;
    margin-top: 4px;
    font-family: 'Jura', sans-serif;  
    font-size: 14px;
    color: silver;
 }
.top {
    
    font-size: 21px;
    text-align: center;
    animation: fadein 6s;
    -moz-animation: fadein 6s; /* Firefox */
    -webkit-animation: fadein 6s; /* Safari and Chrome */
    -o-animation: fadein 6s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


.animated { 
   -webkit-animation-duration: 5s; 
   animation-duration: 5s; 
   -webkit-animation-fill-mode: both; 
   animation-fill-mode: both; 
} 

@-webkit-keyframes flip { 
    0% { 
        -webkit-transform: perspective(300px) rotateY(0); 
        -webkit-animation-timing-function: ease-out; 
    } 
    40% { 
        -webkit-transform: perspective(300px) translateZ(150px) rotateY(170deg); 
        -webkit-animation-timing-function: ease-out; 
    } 
    50% { 
        -webkit-transform: perspective(300px) translateZ(150px) rotateY(190deg) scale(1); 
        -webkit-animation-timing-function: ease-in; 
    } 
    80% { 
        -webkit-transform: perspective(300px) rotateY(360deg) scale(.95); 
        -webkit-animation-timing-function: ease-in; 
    } 
    100% { 
        -webkit-transform: perspective(300px) scale(1); 
        -webkit-animation-timing-function: ease-in; 
    } 
} 
@keyframes flip { 
    0% { 
        transform: perspective(300px) rotateY(0); 
        animation-timing-function: ease-out; 
    } 
    40% { 
        transform: perspective(300px) translateZ(150px) rotateY(170deg); 
        animation-timing-function: ease-out; 
    } 
    50% { 
        transform: perspective(300px) translateZ(150px) rotateY(190deg) scale(1); 
        animation-timing-function: ease-in; 
    } 
    80% { 
        transform: perspective(300px) rotateY(360deg) scale(.95); 
        animation-timing-function: ease-in; 
    } 
    100% { 
        transform: perspective(300px) scale(1); 
        animation-timing-function: ease-in; 
    } 
} 
.flip { 
    -webkit-backface-visibility: visible !important; 
    -webkit-animation-name: flip; 
    backface-visibility: visible !important; 
    animation-name: flip; 
}


.animated { 
   -webkit-animation-duration: 2s; 
   animation-duration: 2s; 
   -webkit-animation-fill-mode: both; 
   animation-fill-mode: both; 
   -webkit-animation-timing-function: ease-in-out; 
   animation-timing-function: ease-in-out; 
} 

@-webkit-keyframes bounceInUp { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(2000px); 
    } 
    60% { 
        opacity: 1; 
        -webkit-transform: translateY(-30px); 
    } 
    80% { 
        -webkit-transform: translateY(10px); 
    } 
    100% { 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes bounceInUp { 
    0% { 
        opacity: 0; 
        transform: translateY(2000px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateY(-30px); 
    } 
    80% { 
        transform: translateY(10px); 
    } 
    100% { 
        transform: translateY(0); 
    } 
} 

.bounceInUp { 
    -webkit-animation-name: bounceInUp; 
    animation-name: bounceInUp; 
}
.animated2 { 
   -webkit-animation-duration: 3s; 
   animation-duration: 3s; 
   -webkit-animation-fill-mode: both; 
   animation-fill-mode: both; 
   -webkit-animation-timing-function: ease-in-out; 
   animation-timing-function: ease-in-out; 
} 

@-webkit-keyframes bounceInUp2 { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(2000px); 
    } 
    60% { 
        opacity: 1; 
        -webkit-transform: translateY(-30px); 
    } 
    80% { 
        -webkit-transform: translateY(10px); 
    } 
    100% { 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes bounceInUp2 { 
    0% { 
        opacity: 0; 
        transform: translateY(2000px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateY(-30px); 
    } 
    80% { 
        transform: translateY(10px); 
    } 
    100% { 
        transform: translateY(0); 
    } 
} 

.bounceInUp2 { 
    -webkit-animation-name: bounceInUp; 
    animation-name: bounceInUp; 
}
.animated3 { 
   -webkit-animation-duration: 4s; 
   animation-duration: 4s; 
   -webkit-animation-fill-mode: both; 
   animation-fill-mode: both; 
   -webkit-animation-timing-function: ease-in-out; 
   animation-timing-function: ease-in-out; 
} 

@-webkit-keyframes bounceInUp3 { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(2000px); 
    } 
    60% { 
        opacity: 1; 
        -webkit-transform: translateY(-30px); 
    } 
    80% { 
        -webkit-transform: translateY(10px); 
    } 
    100% { 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes bounceInUp3 { 
    0% { 
        opacity: 0; 
        transform: translateY(2000px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateY(-30px); 
    } 
    80% { 
        transform: translateY(10px); 
    } 
    100% { 
        transform: translateY(0); 
    } 
} 

.bounceInUp3 { 
    -webkit-animation-name: bounceInUp; 
    animation-name: bounceInUp; 
}
.animated4 { 
   -webkit-animation-duration: 5s; 
   animation-duration: 5s; 
   -webkit-animation-fill-mode: both; 
   animation-fill-mode: both; 
   -webkit-animation-timing-function: ease-in-out; 
   animation-timing-function: ease-in-out; 
} 

@-webkit-keyframes bounceInUp4 { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(2000px); 
    } 
    60% { 
        opacity: 1; 
        -webkit-transform: translateY(-30px); 
    } 
    80% { 
        -webkit-transform: translateY(10px); 
    } 
    100% { 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes bounceInUp4 { 
    0% { 
        opacity: 0; 
        transform: translateY(2000px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateY(-30px); 
    } 
    80% { 
        transform: translateY(10px); 
    } 
    100% { 
        transform: translateY(0); 
    } 
} 

.bounceInUp4 { 
    -webkit-animation-name: bounceInUp; 
    animation-name: bounceInUp; 
}
