body {
	background-image: url('img/mainfront.jpg');
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:   no-repeat;
}
#headercontainer {
	width: 100%;
	height: 40px;
}
#keksas {
    width: 50%;
    margin: auto;
}
.vidus1 {
	width: 54%;
	height: 40px;
	margin: auto;
	float: left;
	
}
#laikrodis {
	margin-top: 4px;
	text-align: center;
	font-size: 15px;
	color: silver;
	font-family: 'Jura', sans-serif;
	
}
.vidus2 {
	width: 46%;
	height: 40px;
	margin: auto;
	float: right;
}
.ir {
	margin-top: 4px;
	margin-left: 3px;
	margin-right: 20px;
	float: right;
}
#bannercontainer {
	width: 100%;
}

.top {
	align: center;
	height: 200px;
	width: 100%;
}
.center {
	text-align: center;
	align: center;
	height: 350px;
	width: 100%;
}
.buttom {
	align: center;
	height: 50px;
	width: 100%;
}


.copyrightsmall {
	text-align: center;
}
h1 {
	font-size: 80px;
	color: white;
	font-family: 'Jura', sans-serif;
}
input[type=submit] {
    border: 0;
    width: 100px;
    height:20px;
    font-family: Tahoma;
    background-color: #061f25;
    margin-top: 2px;
    font-family: 'Jura', sans-serif;  
    font-size: 15px;
    color: silver;
}
input[type=text] {
    border: 1px solid black;
    margin-top: 3px;
	margin-left: 1px;
	font-family: 'Jura', sans-serif;
    box-sizing: border-box;
    border: none;
    background-color: #061f25;
    color: white;
    font-size: 15px;
}
input[type=password] {
    border: 1px solid black;
    margin-top: 3px;
	margin-left: 1px;
    box-sizing: border-box;
    border: none;
    background-color: #061f25;
    color: white;
    font-family: 'Jura', sans-serif;
    font-size: 15px;
}
#focus input[type=submit] {
    font-size: 35px;
    text-align: center;
    margin-bottom: 70px;
	margin-left:4px;
	font-family: 'Jura', sans-serif;  
    background: #061f25; 
    border: 1px solid #DDD; 
    border-radius: 40px; 
    box-shadow: 0 0 5px #DDD inset; 
    color: white; 
    outline: none; 
    height:45px; 
    width: 400px;
	opacity: 0.5;
}

#bannercontainer {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


.animated { 
   -webkit-animation-duration: 1s; 
   animation-duration: 1s; 
   -webkit-animation-fill-mode: both; 
   animation-fill-mode: both; 
} 

@-webkit-keyframes rotateIn { 
    0% { 
        -webkit-transform-origin: center center; 
        -webkit-transform: rotate(-200deg); 
        opacity: 0; 
    } 
    100% { 
        -webkit-transform-origin: center center; 
        -webkit-transform: rotate(0); 
        opacity: 1; 
    } 
} 
@keyframes rotateIn { 
    0% { 
        transform-origin: center center; 
        transform: rotate(-200deg); 
        opacity: 0; 
    } 
    100% { 
        transform-origin: center center; 
        transform: rotate(0); 
        opacity: 1; 
    } 
} 
.rotateIn { 
    -webkit-animation-name: rotateIn; 
    animation-name: rotateIn; 
}

.animated { 
   -webkit-animation-duration: 3s; 
   animation-duration: 3s; 
   -webkit-animation-fill-mode: both; 
   animation-fill-mode: both; 
   -webkit-animation-timing-function: ease-in-out; 
   animation-timing-function: ease-in-out; 
} 

@-webkit-keyframes bounceInUp { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(2000px); 
    } 
    60% { 
        opacity: 1; 
        -webkit-transform: translateY(-30px); 
    } 
    80% { 
        -webkit-transform: translateY(10px); 
    } 
    100% { 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes bounceInUp { 
    0% { 
        opacity: 0; 
        transform: translateY(2000px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateY(-30px); 
    } 
    80% { 
        transform: translateY(10px); 
    } 
    100% { 
        transform: translateY(0); 
    } 
} 

.bounceInUp { 
    -webkit-animation-name: bounceInUp; 
    animation-name: bounceInUp; 
}
.audio {
	margin-bottom: 10px;
}