body {
	background-image: url('img/user.jpg');
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: none;
}
#headercontainer {
	width: 100%;
	height: 40px;
}
#keksas {
    width: 50%;
    margin: auto;
}
.vidus1 {
	width: 54%;
	height: 40px;
	margin: auto;
	float: left;
	
}
#laikrodis {
	margin-top: 4px;
	text-align: center;
	font-size: 15px;
	color: silver;
	font-family: 'Jura', sans-serif;
	
}
.vidus2 {
	width: 46%;
	height: 40px;
	margin: auto;
	float: right;
}
.ir {
	margin-top: 4px;
	margin-left: 3px;
	margin-right: 20px;
	float: right;
}
#bannercontainer {
	width: 100%;
}
.o {
	align: center;
	height: 100px;
	width: 100%;
	
}
.center {
	text-align: center;
}


.copyrightsmall {
	text-align: center;
}
h1 {
	font-size: 40px;
	color: white;
	font-family: 'Jura', sans-serif;
}
h2 {
	font-size: 30px;
	color: white;
	font-family: 'Jura', sans-serif;
}
img {
	opacity: 0.5;
}

input[type=submit] {
    border: 0;
    width: 100px;
    height:20px;
    font-family: Tahoma;
    background-color: #061f25;
    margin-top: 4px;
    font-family: 'Jura', sans-serif;  
    font-size: 14px;
    color: silver;
}
input[type=text] {
    border: 1px solid black;
    margin-top: 3px;
	margin-left: 1px;
	font-family: 'Jura', sans-serif;
    box-sizing: border-box;
    border: none;
    background-color: #061f25;
    color: white;
    font-size: 15px;
}
input[type=password] {
    border: 1px solid black;
    margin-top: 3px;
	margin-left: 1px;
    box-sizing: border-box;
    border: none;
    background-color: #061f25;
    color: white;
    font-family: 'Jura', sans-serif;
    font-size: 15px;
}
p {
	color: white;
}
a {
	color: white;
	font-family: 'Jura', sans-serif;
}

.animated { 
   -webkit-animation-duration: 3s; 
   animation-duration: 4s; 
   -webkit-animation-fill-mode: both; 
   animation-fill-mode: both; 
   -webkit-animation-timing-function: ease-in; 
   animation-timing-function: ease-in; 
} 

@-webkit-keyframes bounceInLeft { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateX(-2000px); 
    } 
    60% { 
        opacity: 1; 
        -webkit-transform: translateX(30px); 
    } 
    80% { 
        -webkit-transform: translateX(-10px); 
    } 
    100% { 
        -webkit-transform: translateX(0); 
    } 
} 

@keyframes bounceInLeft { 
    0% { 
        opacity: 0; 
        transform: translateX(-2000px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateX(30px); 
    } 
    80% { 
        transform: translateX(-10px); 
    } 
    100% { 
        transform: translateX(0); 
    } 
} 
.bounceInLeft { 
    -webkit-animation-name: bounceInLeft; 
    animation-name: bounceInLeft; 
}

.animated2 { 
   -webkit-animation-duration: 20s; 
   animation-duration: 20s; 
   -webkit-animation-fill-mode: both; 
   animation-fill-mode: both; 
   -webkit-animation-timing-function: ease-in; 
   animation-timing-function: ease-in; 
} 

@-webkit-keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 0;} 
} 
@keyframes fadeIn { 
    0% {opacity: 0;} 
    100% {opacity: 1;} 
} 
.fadeIn { 
    -webkit-animation-name: fadeIn; 
    animation-name: fadeIn; 
}
